.row
  .col-sm-3.col-md-2.sidebar
    %ul.nav.nav-sidebar
      %li.active
        <a href="#">Overview <span class="sr-only">(current)</span></a>
      %li 
        =link_to "Reports"
      %li 
        =link_to "Analytics"
      %li 
        =link_to "Export"
    %ul.nav.nav-sidebar
      %li
        <a href="#">Overview <span class="sr-only">(current)</span></a>
      %li 
        =link_to "Item one"
      %li 
        =link_to "Item one"
      %li 
        =link_to "Item one"
    %ul.nav.nav-sidebar
      %li
        <a href="#">Overview <span class="sr-only">(current)</span></a>
      %li 
        =link_to "Item two"
      %li 
        =link_to "Item two"
      %li 
        =link_to "Item two"
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    %h1.page-header Dashboard
    .row.placeholders
      .col-xs-6.col-sm-3.placeholder
        %p Some image here
        %h4 Label
        %span.text-muted Something Here
      .col-xs-6.col-sm-3.placeholder
        %p Some image here
        %h4 Label
        %span.text-muted Something Here
      .col-xs-6.col-sm-3.placeholder
        %p Some image here
        %h4 Label
        %span.text-muted Something Here
      .col-xs-6.col-sm-3.placeholder
        %p Some image here
        %h4 Label
        %span.text-muted Something Here
    %h2.sub-header Section Title
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Header1
            %th Header2
            %th Header3
            %th Header4
        %tbody
          %tr
            %td 1
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing
          %tr
            %td 2
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing
          %tr
            %td 1
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing
          %tr
            %td 2
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing
          %tr
            %td 1
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing
          %tr
            %td 2
            %td First Thing
            %td Second Thing
            %td Third Thing
            %td Fourth Thing