.jumbotron
  .container
    %form.form-signin
      %h2.form-signin-heading Register Below
      %label.sr-only(for="name") Name
      %input#inputEmail.form-control(type="text" placeholder="Name")
      %label.sr-only(for="inputEmail") Email address
      %input#inputEmail.form-control(type="email" placeholder="Email address")
      %label.sr-only(for="inputPassword") Password
      %input#inputPassword.form-control(type="password" placeholder="Password")
      %button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign Up
